
.row {
    display: flex;
  }
  
.column {
    flex: 15%;
    padding: 0px;
  }
img {
    width:  15em;
    height: 15em;
    object-fit: cover;
}
figcaption {
    text-align: center;
    
}
h2 {
    text-decoration-line: underline;
    margin-left: 10px;
}
a {
    border: 2px solid;
    border-color: black;
    border-radius: 10px;
    padding: 2px;
}
.button {
    background-color: #1c87c9;
    border: none;
    color: white;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: 4px 2px;
    cursor: pointer;
}
body {
    background-image: url('pastel.webp');
    background-repeat: no-repeat;
    background-size: 100%;
    }