body {
    font-size: 16px;
    font-family: 'Cinzel', serif;
    background: rgb(250, 248, 244);
    margin: 0px;
}

img {
    width: 15em;
    height: 15em;
    object-fit: cover;
    border: 2px solid;
    border-radius: 8px;
    border-color: rgb(224, 191, 184);
}

.nadpis {
    padding-top: 15px;
    font-family: 'Cinzel', serif;
    font-size: 35px;
    margin-block-start: 20px;
    margin-block-end: 10px
}

p {
    color: rgb(137, 148, 153)
}

#kontakty {
    font-weight: normal;
    text-decoration-line: underline;
    color: rgb(137, 148, 153);
}

/*tlacitka*/
/* Button*/
.button:hover {
    background-color:
        color: rgb(250, 248, 244);
}

.button {
    background-color: rgb(243, 238, 231);
    color: rgb(54, 69, 79);
    font-size: 17px;
    font-family: 'Cinzel', serif;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border-style: solid;
    border-width: 1px;
    border-radius: 10px;
    border-color: rgb(219, 208, 193);
}

.row {
    display: flex;
}

.zpet {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
}


.img-with-text {
    text-align: center;
    width: 15em;
    float: left;
    width: 33.33%;
    padding: 5px;
}

.img-with-text img {
    display: block;
    margin: 0 auto;
}

/* Top Navigation */
.topnav {
    background-color: rgb(243, 238, 231);
    overflow: hidden;
    position: fixed;
    top: 0px;
    width: 100%;
    z-index: 10;
}

.topnav a {
    float: left;
    color: rgb(54, 69, 79);
    text-align: center;
    padding: 16px;
    text-decoration: none;
    font-size: 17px;

}

.topnav a:hover {
    background-color: rgb(219, 208, 193);
    color: rgb(250, 248, 244);
}

.topnav a.active {
    background-color: rgb(219, 208, 193);
    color: rgb(250, 248, 244);
}

/* colored stripe */
.header {
    padding: 10px;
    text-align: center;
    font-size: 15px;
    border-bottom-style: solid;
    border-color: rgb(243, 238, 231);
    border-width: 5px;
    margin-top: 30px;
    margin-bottom: 50px;
}

.footer {
    margin-top: 20px;
    background-color: rgb(243, 238, 231);
    padding: 20px;
}

.copy {
    text-align: right;
    color: rgba(137, 148, 153, 0.233);
}

/* Scrollbar */

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 3px rgb(224, 191, 184);
    border-radius: 2px;

}

::-webkit-scrollbar {
    width: 12px;

}

::-webkit-scrollbar-thumb {
    background: rgb(219, 208, 193);
    border-radius: 4px;

}

::-webkit-scrollbar-thumb:hover {
    background: rgb(224, 191, 184);
}