
.row {
    display: flex;
  }
img {
    width:  15em;
    height: 15em;
    object-fit: cover;
    border: 2px solid;
    border-radius: 8px;
    border-color: rgb(224, 191, 184);
}
h2 {
    text-decoration-line: underline;
    margin-left: 10px;
}
a {
    border: 2px solid;
    border-radius: 10px;
    padding: 2px;
}
.button {
    background-color: #d19f95;
    border: none;
    color: white;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: 4px 2px;
    cursor: pointer;
}
body {
    background: rgb(188,198,204);
    background: linear-gradient(0deg, rgba(188,198,204,1) 8%, rgba(251,157,165,1) 86%);
}
.img-with-text {
    text-align: center;
    width: 15em;
    float: left;
    width: 33.33%;
    padding: 5px;
}

.img-with-text img {
    display: block;
    margin: 0 auto;
}
    